@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

:root {
  --dark-color:   #000022;
  --green-color:  #3A4F41;
  --orange-color: #EDAE49;
  --yellow-color: #F9DF74;
  --white-color:  #e7ddc2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Arvo', 'Oswald', sans-serif;
  background: var(--white-color);
  color: var(--green-color);
}

  body {
    font-family: 'Arvo', serif;
  }

  h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200; /* Try 300 or 400 for lighter appearance */
    color: black;
  }

/* Layout Container */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

/* Top Bar */
.top-bar {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Pushes title left, links right */
  padding: 10px 20px;
  background-color: var(--white-color);
  color: var(--green-color);
}

.title-group {
  display: flex;
  flex-direction: column;
}

.top-links {
  display: flex;
  gap: 20px; /* spacing between links */
}

.top-links a {
  color: var(--green-color);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.top-links a:hover {
  color: black
}

.columns {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px;
  gap: 40px; /* space between columns */
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box {
    border-radius: 20pt;
    background-color: rgb(204, 204, 204);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: auto;
}


.box-row {
  display: flex;
  justify-content: center;      /* center the row */
  gap: 20px;                    /* spacing between boxes */
  flex-wrap: wrap;              /* allows wrapping on smaller screens */
  margin-top: 40px;
}

.info-box {
  background-color: #f9f9f9;
  padding: 0px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease;
  width: 40%;
}

.info-box:hover {
  transform: translateY(-5px);
  background-color: #b4b4b48f;
}

.info-box img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.info-box h2 {
  font-size: 1.2em;
  margin: 10px 0 5px;
}

.info-box p {
  font-size: 0.95em;
  color: #333;
}




@media (max-width: 768px) {
  .columns {
    flex-direction: column;
  }
}